<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>EUV - Painel do Professor</title>

		<link rel="stylesheet" type="text/css" href="/css/teacherPanel.css">
		
	</head>
	<body>
		<h1>Painel do Professor</h1>
		<h2>Sala 1</h2>
		<table>
			<thead>
				<tr>
					<th>Nome</th>
					<th>Posição</th>
					<th>Tempo Utilizado</th>
					<th>Pontos</th>
				</tr>
			</thead>			
			<tbody id="tabela-jogadores">
				<tr class="sala1">					
					<td class="info-nome"> -- </td>
					<td class="info-posicao"> -- </td>
					<td class="info-tempo"> -- </td>
					<td class="info-pontos"> -- </td>
				</tr>
				<tr class="sala1">					
					<td class="info-nome"> -- </td>
					<td class="info-posicao"> -- </td>
					<td class="info-tempo"> -- </td>
					<td class="info-pontos"> -- </td>
				</tr>
				<tr class="sala1">					
					<td class="info-nome"> -- </td>
					<td class="info-posicao"> -- </td>
					<td class="info-tempo"> -- </td>
					<td class="info-pontos"> -- </td>
				</tr>
				<tr class="sala1">					
					<td class="info-nome"> -- </td>
					<td class="info-posicao"> -- </td>
					<td class="info-tempo"> -- </td>
					<td class="info-pontos"> -- </td>
				</tr>
			</tbody>
		</table>
		<h2>Sala 2</h2>
		<table>
			<thead>
				<tr>
					<th>Nome</th>
					<th>Posição</th>
					<th>Tempo Utilizado</th>
					<th>Pontos</th>
				</tr>
			</thead>			
			<tbody id="tabela-jogadores">
				<tr class="sala2">					
					<td class="info-nome"> -- </td>
					<td class="info-posicao"> -- </td>
					<td class="info-tempo"> -- </td>
					<td class="info-pontos"> -- </td>
				</tr>
				<tr class="sala2">					
					<td class="info-nome"> -- </td>
					<td class="info-posicao"> -- </td>
					<td class="info-tempo"> -- </td>
					<td class="info-pontos"> -- </td>
				</tr>
				<tr class="sala2">					
					<td class="info-nome"> -- </td>
					<td class="info-posicao"> -- </td>
					<td class="info-tempo"> -- </td>
					<td class="info-pontos"> -- </td>
				</tr>
				<tr class="sala2">					
					<td class="info-nome"> -- </td>
					<td class="info-posicao"> -- </td>
					<td class="info-tempo"> -- </td>
					<td class="info-pontos"> -- </td>
				</tr>
			</tbody>
		</table>
		<h2>Sala 3</h2>
		<table>
			<thead>
				<tr>
					<th>Nome</th>
					<th>Posição</th>
					<th>Tempo Utilizado</th>
					<th>Pontos</th>
				</tr>
			</thead>			
			<tbody id="tabela-jogadores">
				<tr class="sala3">					
					<td class="info-nome"> -- </td>
					<td class="info-posicao"> -- </td>
					<td class="info-tempo"> -- </td>
					<td class="info-pontos"> -- </td>
				</tr>
				<tr class="sala3">					
					<td class="info-nome"> -- </td>
					<td class="info-posicao"> -- </td>
					<td class="info-tempo"> -- </td>
					<td class="info-pontos"> -- </td>
				</tr>
				<tr class="sala3">					
					<td class="info-nome"> -- </td>
					<td class="info-posicao"> -- </td>
					<td class="info-tempo"> -- </td>
					<td class="info-pontos"> -- </td>
				</tr>
				<tr class="sala3">					
					<td class="info-nome"> -- </td>
					<td class="info-posicao"> -- </td>
					<td class="info-tempo"> -- </td>
					<td class="info-pontos"> -- </td>
				</tr>
			</tbody>
		</table>
		<h2>Sala 4</h2>
		<table>
			<thead>
				<tr>
					<th>Nome</th>
					<th>Posição</th>
					<th>Tempo Utilizado</th>
					<th>Pontos</th>
				</tr>
			</thead>			
			<tbody id="tabela-jogadores">
				<tr class="sala4">					
					<td class="info-nome"> -- </td>
					<td class="info-posicao"> -- </td>
					<td class="info-tempo"> -- </td>
					<td class="info-pontos"> -- </td>
				</tr>
				<tr class="sala4">					
					<td class="info-nome"> -- </td>
					<td class="info-posicao"> -- </td>
					<td class="info-tempo"> -- </td>
					<td class="info-pontos"> -- </td>
				</tr>
				<tr class="sala4">					
					<td class="info-nome"> -- </td>
					<td class="info-posicao"> -- </td>
					<td class="info-tempo"> -- </td>
					<td class="info-pontos"> -- </td>
				</tr>
				<tr class="sala4">					
					<td class="info-nome"> -- </td>
					<td class="info-posicao"> -- </td>
					<td class="info-tempo"> -- </td>
					<td class="info-pontos"> -- </td>
				</tr>
			</tbody>
		</table>
		<h2>Sala 5</h2>
		<table>
			<thead>
				<tr>
					<th>Nome</th>
					<th>Posição</th>
					<th>Tempo Utilizado</th>
					<th>Pontos</th>
				</tr>
			</thead>			
			<tbody id="tabela-jogadores">
				<tr class="sala5">					
					<td class="info-nome"> -- </td>
					<td class="info-posicao"> -- </td>
					<td class="info-tempo"> -- </td>
					<td class="info-pontos"> -- </td>
				</tr>
				<tr class="sala5">					
					<td class="info-nome"> -- </td>
					<td class="info-posicao"> -- </td>
					<td class="info-tempo"> -- </td>
					<td class="info-pontos"> -- </td>
				</tr>
				<tr class="sala5">					
					<td class="info-nome"> -- </td>
					<td class="info-posicao"> -- </td>
					<td class="info-tempo"> -- </td>
					<td class="info-pontos"> -- </td>
				</tr>
				<tr class="sala5">					
					<td class="info-nome"> -- </td>
					<td class="info-posicao"> -- </td>
					<td class="info-tempo"> -- </td>
					<td class="info-pontos"> -- </td>
				</tr>
			</tbody>
		</table>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- biblioteca que exibe o tempo na tela -->
		<script src="/addons/easytimer.js"></script>

		<!-- socket libraries -->
		<script src="/socket.io/socket.io.js"></script>

		<script src="/js/teacher/teacherPanel.js"></script>

	</body>
</html>