<!DOCTYPE html>
<html>
<head>
	<title>Vencedores</title>
</head>
<body>

	<p>Pódio</p>

	<h1 id="podium"></h1>

	<h1 id="podium"></h1>

	<h1 id="podium"></h1>

	<h1 id="podium"></h1>

	<script src="/js/player/winnersPodium.js"></script>

</body>
</html>