<!DOCTYPE html>
<html>
<head>
	<title>EUV - Vencedores</title>

	<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" type="text/css" href="/css/winnersPodium.css">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<body>

	<div>
	    <div class="w3-bar w3-red w3-card-2 w3-left-align w3-large">
	      <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
	      <a href="/gameExplanation" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Tutorial</a>
	      <a href="/about" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Sobre</a>
	    </div>
	</div>

	

	<div class="center">

		<h1 class="w3-center">Parabéns, agora vocês são mestres</h1>

		<div class="w3-row">		
			<div class="w3-col s12 w3-center">
				<img src="/assets/pokemon-logo.png" width="600" height="220">
			</div>			
		</div>		

		<h2 class="w3-center" id="podium"></h2>

		<h2 class="w3-center" id="podium"></h2>

		<h2 class="w3-center" id="podium"></h2>

		<h2 class="w3-center" id="podium"></h2>

	</div>

	<img class="img-left" src="/assets/pokemons/charizard-big.png" width="400" height="275">

	<img class="w3-right img-right" src="/assets/pokemons/blastoise-big.png" width="262" height="278">

	<script src="/js/player/winnersPodium.js"></script>

	<!-- Footer -->
	<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
	    <p> Made by Carlos Sechi - <a href="https://github.com/clsechi/era-uma-vez" target="_blank">Era Uma Vez</a> - Template by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
	</footer>


</body>
</html>