<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>EUV - Sobre</title>

	<link rel="shortcut icon" type="image/png" href="/favicon.png"/>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/css/reset.css">		
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" type="text/css" href="/css/about.css">

	<!-- fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body>

	<div class="w3-bar w3-red w3-card-2 w3-left-align w3-large">
		<a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
		<a href="/gameExplanation" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Tutorial</a>
	</div>
	
	<div class="center">
		<h1 class="w3-center w3-jumbo">Sobre nós</h1>

		<p class="w3-justify">Projeto com objetivo de ensinar lógica de programação para crianças, utilizando a programação por blocos e estimulando a aprendizagem com a interação entre os jogadores em um tabuleiro.</p>
		<br>
		<p class="w3-justify">Criado com objetivo de ser utilizado como trabalho de conclusão do curso de Engenharia de Computação da Universidade Anhembi Morumbi, o título do projeto escrito pode ser  encontrado como Software Lúdico para o Auxilio no Ensino-Aprendizagem de Conceitos de Lógica de Programação e no Desenvolvimento Congnitivo de Crianças de 9 a 10 anos.</p>
		<hr>
		<h2 class="w3-center w3-xxxlarge w3-margin-top">Referências</h2>
		<div class=" w3-row w3-card-4 w3-white">
			<div class="w3-col s2">
				<img src="/assets/about/studio-code.png" class="img-code" width="90" height="110">
			</div>
			<div class="w3-col s10">			
				<h3>Studio Code</h3>
				<p class="tec-text">
					Code.org® é uma organização sem fins lucrativos dedicado à expansão da participação em ciência da computação. Tem a visão de que cada aluno em cada escola deve ter a oportunidade de aprender ciência da computação. Studio Code...</p>
				<br>
				<a href="https://studio.code.org/courses">SAIBA MAIS</a>
			</div>
		</div>
		<hr>
		<h2 class="w3-center w3-xxxlarge w3-margin-top">Tecnologias Utilizadas</h2>
		<div class=" w3-row w3-card-4 w3-white">
			<div class="w3-col s2 w3-container">
				<img src="/assets/about/p5.png" class="img-p5" width="102" height="102">
			</div>
			<div class="w3-col s10">			
				<h3>p5.js</h3>
				<p class="tec-text">p5.js uma biblioteca JS client-side utilizada para criar experiências gráficas e interativas, com base nos princípios fundamentais do processamento.<br>p5.play é biblioteca do p5.js utilizada para criação de jogos e brinquedos</p>
				<br>
				<a href="https://p5js.org/">p5.js</a>
				<a href="http://p5play.molleindustria.org/" class="w3-margin-left">p5.play</a>
			</div>
		</div>
		<br>
		<div class=" w3-row w3-card-4 w3-white">
			<div class="w3-col s2">
				<img src="/assets/about/blockly.png" class="img-blockly" width="140" height="110">
			</div>
			<div class="w3-col s10">			
				<h3>Blockly</h3>
				<p class="tec-text">Biblioteca criada pelo Google para o desenvolvimento de editores de programação visual. É utilizada por uma série de projetos, incluindo o MIT App Inventor.</p>
				<br>
				<a href="https://developers.google.com/blockly/?hl=en">SAIBA MAIS</a>
			</div>
		</div>
		<br>
		<div class="w3-row w3-card-4 w3-white">
			<div class="w3-col s2">
				<img src="/assets/about/nodejs.png" class="img-node" width="150" height="150">
			</div>				
			<div class="w3-col s10">
				<h3>Node.JS</h3>
				<p class="tec-text">Framework para o desenvolvimento de aplicações web server-side utilizando JavaScript.</p>
				<br>
				<a href="https://nodejs.org/">SAIBA MAIS</a>
			</div>			
		</div>
		<br>
		<div class="w3-row w3-card-4 w3-white">
			<div class="w3-col s2">
				<img src="/assets/about/socket-io.svg" class="img-socket" width="125" height="125">
			</div>				
			<div class="w3-col s10">
				<h3>Socket.IO</h3>
				<p class="tec-text">Socket.IO é uma biblioteca JavaScript para aplicações web em tempo real. Permite comunicação em tempo real e bidirecional entre clientes e servidores da Web.</p>
				<br>
				<a href="https://socket.io/">SAIBA MAIS</a>
			</div>			
		</div>
		<br>
		<div class="w3-row w3-card-4 w3-white">
			<div class="w3-col s2">
				<img src="/assets/about/mysql.svg" class="img-mysql" width="125" height="86">
			</div>				
			<div class="w3-col s10">
				<h3>MySQL</h3>
				<p class="tec-text">O MySQL é um sistema de gerenciamento de banco de dados (SGBD), que utiliza a linguagem SQL como interface. É atualmente um dos bancos de dados mais populares, com mais de 10 milhões de instalações pelo mundo.</p>
				<br>
				<a href="https://www.mysql.com/">SAIBA MAIS</a>
			</div>			
		</div>
		<br>
		<div class="w3-row w3-card-4 w3-white">
			<div class="w3-col s2">
				<img src="/assets/about/materialize.png" class="img-materialize" width="150" height="150">
			</div>				
			<div class="w3-col s10">
				<h3>Materialize CSS</h3>
				<p class="tec-text">Framework front-end para desenvolvimento de sistemas web utilizando o padrão do Google Material Design.</p>
				<br>
				<a href="http://materializecss.com/">SAIBA MAIS</a>
			</div>			
		</div>
		<br>
		<div class="w3-row w3-card-4 w3-white">
			<div class="w3-col s2">
				<img src="/assets/about/w3css.png" class="img-w3css" width="120" height="120">
			</div>				
			<div class="w3-col s10">
				<h3>W3.CSS</h3>
				<p class="tec-text">Framework front-end para desenvolvimento de sistemas web.</p>
				<br>
				<a href="https://www.w3schools.com/w3css/default.asp">SAIBA MAIS</a>
			</div>			
		</div>
		<br>
		<p class="w3-center">Todas as imagens de Pokémons, Pokeballs, Pokémon logo pertecem a Nintendo e Pokémon Company International, Inc.</p>
	</div>

	<!-- Footer -->
	<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
		<p>Made by Carlos Sechi - <a href="https://github.com/clsechi/era-uma-vez" target="_blank">Era Uma Vez</a> - Template by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
	</footer>
</body>
</html>