body{
    background-color: #f1f1f1;    
}

.center{
    margin: auto;
    width: 70%;
    padding: 10px;
}

.start{
  position: absolute;
  margin-left: 1000px;
  margin-top: 1100px;
}

hr{
  height:2px;
  width: 100%;
  border:none;
  color:#000;
  background-color:#000;
  margin: auto;
  margin-top: 30px;
}

.avatar-selector{
  width: 650px;
  height: 350px;
  border: 3px solid black;
}

.clear-select{
  font-size: 25px; 
  border: 3px solid black;
  overflow: auto;
  padding: 5px 5px;
}

h1 {
  font-size: 40px;
}



/*image picker css*/

ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  ul.thumbnails.image_picker_selector ul {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
    ul.thumbnails.image_picker_selector li.group {width:100%;} 
    ul.thumbnails.image_picker_selector li.group_title {
      float: none; }
      ul.thumbnails.image_picker_selector li {
        margin: 0px 12px 12px 0px;
        float: left; }
        ul.thumbnails.image_picker_selector li .thumbnail {
          padding: 6px;
          border: 1px solid #dddddd;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none; }
          ul.thumbnails.image_picker_selector li .thumbnail img {
            -webkit-user-drag: none; }
            ul.thumbnails.image_picker_selector li .thumbnail.selected {
              background: #0088cc; }
