table{
	width: 100%;
	margin: 0 20px 0 20px;
	table-layout: fixed;
	border-collapse: collapse;

}

td, th {
	padding: .2em;
	/*margin: 0;*/
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #46494f;
	color: #FFF;
}
label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}