body,h1,h2,h3,h4,h5,h6 {
	font-family: "Lato", sans-serif
}

.w3-bar,h1,button {
	font-family: "Montserrat", sans-serif
}

body{
	background-color: #f1f1f1;    
}
.center{
	margin: auto;
	width: 70%;
	padding: 10px;
}
.chart{
	margin-top: 25px;
}
.average{
	margin-top: 20px;
	font-weight: bold;
	font-size: 32px;
}
hr{
	height:2px;
	width: 100%;
	border:none;
	color:#000;
	background-color:#000;
	margin: auto;
	margin-top: 30px;
}

table{
	width: 100%;
	margin: 0 20px 0 20px;
	table-layout: fixed;
	border-collapse: collapse;

}

td, th {
	padding: .2em;
	/*margin: 0;*/
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #46494f;
	color: #FFF;
}
label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}