<!DOCTYPE html>
<html>
  <head>
    <script src="addons/p5.js"></script>

    <script src="addons/p5.dom.js"></script>

    <script src="addons/p5.sound.js"></script>

    

    <script src="/socket.io/socket.io.js"></script>

    <script src="js/ioApplication.js"></script>

   

    <link rel="stylesheet" type="text/css" href="css/style.css">
  <style> 

  </style>
  </head>
  <body>

  <p>teste</p>


  </body>
</html>