<!DOCTYPE html>
<html>
<head>

	<title>EUV - Desafio 1</title>

	<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
		.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
		.fa-anchor,.fa-coffee {font-size:200px}
	</style>

	<!-- p5 libraries -->

	<script src="/addons/p5/p5.js"></script>

	<script src="/addons/p5/p5.dom.js"></script>

	<script src="/addons/p5/p5.sound.js"></script> 

	<script src="/addons/p5/p5.play.js"></script>	

	<script src="/js/sketch.js"></script>

	<!-- blockly libraries -->

	<script src="/addons/blockly/blockly_compressed.js"></script>	

	<script src="/addons/blockly/msg/js/en.js"></script>

	<script src="/addons/blockly/javascript_compressed.js"></script>

	<script src="/addons/blockly/acorn_interpreter.js"></script>

	<!-- socket libraries -->

	<script src="/socket.io/socket.io.js"></script>

	<!-- CSS -->

	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<!-- this line removes any default padding and style. you might only need one of these values set. -->
	<style> body {padding: 0; margin: 0;} </style>

</head>
<body>

	

	<!-- creating gameboard on screen -->
	<div>
		<canvas id="myCanvas" width="1200" height="50"> </canvas>
	</div>
	<!-- creating scoreboard on screen -->
	<table>
		<thead>
			<tr>
				<th>Avatar</th>
				<th>Nome</th>
				<th>Pontos</th>
			</tr>
		</thead>
		<tbody id="score-board">
			<tr class="player">
				<td class="info-avatar"><img src=""></td>
				<td class="info-name"> -- </td>
				<td class="info-points"> -- </td>				
			</tr>
			<tr class="player">
				<td class="info-avatar"><img src=""></td>
				<td class="info-name"> -- </td>
				<td class="info-points"> -- </td>				
			</tr>
			<tr class="player">
				<td class="info-avatar"><img src=""></td>
				<td class="info-name"> -- </td>
				<td class="info-points"> -- </td>				
			</tr>
			<tr class="player">
				<td class="info-avatar"><img src=""></td>
				<td class="info-name"> -- </td>
				<td class="info-points"> -- </td>				
			</tr>
		</tbody>
	</table>

	<button id="atualiza-tabuleiro" class="botao bto-principal">Atualizar Tabuleiro</button>

	<button id="executa-blocos" class="botao bto-principal">Executar</button>

	<!-- crating workspace of blockly -->

	<div id="blocklyDiv" style="height: 480px; width: 600px;"></div>

	<!-- XML com os blocos que estarao disponiveis -->

	<xml xmlns="http://www.w3.org/1999/xhtml" id="toolbox" style="display: none;">
		<block type="avancar"></block>
		<block type="vire">
			<field name="defineDirecao">direita</field>
		</block>
	</xml>

	<!-- Footer 
	<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
	    <p> <a href="https://github.com/clsechi/era-uma-vez" target="_blank">Era Uma Vez</a> - Template by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
	</footer>-->

	<!-- trata a atualização do placar dos jogadores na tela -->
	<script src="/js/scoreBoard.js"></script>
	<!-- desenha e atualiza o tabuleiro na tela -->
	<script src="/js/drawGB.js"></script>

	<script src="/js/challenges/challenge1.js"></script>

	<script src="/js/blockly/blocksChallenge1.js"></script>

</body>
</html>