<!DOCTYPE html>
<html>
<head>

	<title>EUV - Desafio 3</title>

	<!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <meta charset="UTF-8">

	<link rel="shortcut icon" type="image/png" href="/favicon.png"/>

	<!-- fonts -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/css/reset.css">

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

	<link rel="stylesheet" type="text/css" href="/css/challenges.css">

	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- p5 libraries -->
	<script src="/addons/p5/p5.min.js"></script>
	<script src="/addons/p5/p5.play.js"></script>
	<script src="/js/p5/challenge3/sketch.js"></script>

	<!-- blockly libraries -->
	<script src="/addons/blockly/blockly_compressed.js"></script>
	<script src="/addons/blockly/msg/js/pt-br.js"></script>
	<script src="/addons/blockly/javascript_compressed.js"></script>
	<script src="/addons/blockly/acorn_interpreter.js"></script>

	<!-- socket libraries -->
	<script src="/socket.io/socket.io.js"></script>	

	<!-- this line removes any default padding and style. you might only need one of these values set. -->
	<style> body {padding: 0; margin: 0;} </style>
</head>
<body>
	<nav class="navbar" role="navigation">
			<div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo center">EUV - Desafio 3</a>
				<ul class="right hide-on-med-and-down">
					<li><span id="player-name"></span></li>
				</ul>
				<ul class="left hide-on-med-and-down">
					<li class="barlink"><a href="/gameExplanation">Tutorial</a></li>
				</ul>				
				<ul class="left hide-on-med-and-down barlink">
					<li class="barlink"><a href="/about">Sobre</a></li>
				</ul>
			</div>
		</nav>
	<!-- tela de loading -->
	<div class="loading"></div>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<!-- creating gameboard on screen -->
				<canvas id="myCanvas" class="gb-canvas z-depth-2" width="600" height="50"> </canvas>
			</div>
			<div class="col s6">
				<!-- position of p5 -->
				<div id="sketch-holder" class="p5-canvas z-depth-2"></div>
				
				<button id="executa-blocos" class="waves-effect waves-light btn #4caf50 green button"> ► Executar o programa</button>

				<button id="reset-game" class="waves-effect waves-light btn #f44336 red button">Reiniciar</button>

				<!-- creating scoreboard on screen -->		
				<table class="bordered tabela">
					<thead>
						<tr>
							<th>Avatar</th>
							<th>Nome</th>
							<th>Pontos</th>
						</tr>
					</thead>
					<tbody id="score-board">
						<tr class="player" >
							<td class="info-avatar"><img src=""></td>
							<td class="info-name"> -- </td>
							<td class="info-points"> -- </td>				
						</tr>
						<tr class="player">
							<td class="info-avatar"><img src=""></td>
							<td class="info-name"> -- </td>
							<td class="info-points"> -- </td>				
						</tr>
						<tr class="player">
							<td class="info-avatar"><img src=""></td>
							<td class="info-name"> -- </td>
							<td class="info-points"> -- </td>				
						</tr>
						<tr class="player">
							<td class="info-avatar"><img src=""></td>
							<td class="info-name"> -- </td>
							<td class="info-points"> -- </td>				
						</tr>
					</tbody>
				</table>
			</div>

			<!--coluna 2-->
			<div class="col s6">
				<div class="box-messages">
					<!-- box mensagens de ajuda -->
					<div class="#aed581 light-green lighten-2 card-panel help-box">
						<span class=help-messages>Nesse desafio utilize o bloco de {repetir}+{avance} para capturar o Pokémon</span>
					</div>
					<div class="#aed581 light-green lighten-2 card-panel help-box">
						<span class=help-messages>O bloco {avance} ira executar até chegar ao Pokémon</span>
					</div>
					<div class="#aed581 light-green lighten-2 card-panel invisible help-box" id="help1" >
						<span class=help-messages>O bloco {repetir} executa varias vezes tudo que esta dentro dele</span>
					</div>
					<div class="#aed581 light-green lighten-2 card-panel invisible help-box" id="help2">
						<span class=help-messages>O bloco {avance} entra dentro do bloco {repetir}</span>
					</div>
				</div>
				<div class="blockly">
					<p class="remaing"><b>Você possui <span id="capacity"></span> bloco(s) restantes.</b></p>

					<!-- crating workspace of blockly -->
					<div id="blocklyDiv" style="height: 480px; width: 600px; border: 5px solid black; padding: 0;"></div>	
				</div>
			</div>
		</div>
		<!-- XML com os blocos que estarao disponiveis -->
		<xml xmlns="http://www.w3.org/1999/xhtml" id="toolbox" style="display: none;">
			<block type="avancar"></block>
			<block type="turnright"></block>
			<block type="turnleft"></block>
			<block type="repeat"></block>
			<!--<block type="if"></block>-->
		</xml>
	</div>	

	<!-- The Modal -->
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-body">
			<p>Parabéns!</p>
			<p id="pontos-final"></p>
			<img src="/assets/pokemons/alakazam-big.png" height="390" width="440">
			<h3 class="modal-footer">Iniciando próximo desafio... <i class="fa fa-spinner fa-pulse"></i></h3>
		</div>
	</div>	

	<footer class="page-footer black">
		<div class="footer-copyright">
			<div class="container">
				Made by Carlos Sechi - <a class="white-text text-lighten-3"href="https://github.com/clsechi/era-uma-vez">Era Uma Vez</a> - Template by <a class="white-text text-lighten-3" href="http://materializecss.com">Materialize</a></a>
			</div>
		</div>
	</footer>

	<!-- js do materialize nao foi utlizado
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	Compiled and minified JavaScript 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->

	<!-- biblioteca que trata o tempo -->
	<script src="/addons/easytimer.js"></script>	
	<!-- trata a atualização do placar dos jogadores na tela -->
	<script src="/js/scoreBoard.js"></script>
	<!-- desenha e atualiza o tabuleiro na tela -->
	<script src="/js/drawGB.js"></script>

	<script src="/js/challenges/challenge3.js"></script>

	<script> 
		//define o numero maximo de blocks;
		var numberMaxBlocks = 2; 
	</script>

	<script src="/js/blockly/blocksChallenge3.js"></script>
</body>
</html>